<nav [@navAnim]="navState">
  <!-- Logo -->
  <div class="logo">
    <img src="assets/icons/jm.png" alt="JM" class="jm-img">
    <img src="assets/icons/dynamics.png" alt="Dynamics" class="dynamics-img">
  </div>

  <!-- Menu -->
  <ul class="nav-menu">
    <li *ngFor="let item of menu" [class.active]="activeItem === item">
      <a (click)="toggleSubmenu(item)">
        {{ item.label }}
        <img src="assets/icons/flecha.png" alt="flecha" class="arrow-icon">
      </a>

      <!-- Submenu dentro de cada item -->
      <!-- Submenú dentro de cada item -->
      <div class="submenu" [@submenuAnim]="activeItem === item ? 'open' : 'closed'" >

        <!-- El título visible dentro del área del submenú -->
        <h2 class="submenu-title">
          {{ item.label }}
          <img src="assets/icons/Flecha_sig.png" alt="sig" class="sig-icon">
        </h2>

        <!-- La lista de subitems -->
        <ul>
          <li *ngFor="let sub of item.subItems || []">
            <a>{{ sub }}</a>
          </li>
        </ul>

      </div>
    </li>
  </ul>



  <div class="language-selector" (click)="toggleLanguageMenu()">
    <a class="selected-language">
      <img src="assets/icons/world.png" alt="world" class="world-icon">
      {{ selectedLanguage }}
      <img src="assets/icons/flecha.png" alt="flecha" class="arrow-icon"></a>
    <ul class="language-menu" [class.open]="languageMenuOpen">
      <li (click)="selectLanguage('Español')">Español</li>
      <li (click)="selectLanguage('Inglés')">Inglés</li>
    </ul>
  </div>
</nav>
<div class="eslogan-container">
  <h1 class="eslogan"> REINVENTA LO QUE<br>PODRÍA SER TU NEGOCIO</h1>
</div>