

/* contenedor del nav */
nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #000;
  z-index: 1000; 
  transition: transform 1s ease-in-out;
  
   
}

/* logo */
.logo {
  
  justify-self: center; /* ✅ mover el logo en el grid */
  transition: all 0.3s ease; /* ✅ suaviza el desplazamiento del contenedor */
  cursor: pointer;
}

/* JM */
.logo .jm-img {
  height: clamp(50px, 8vw, 80px); /* tamaño fluido */
  width: auto;
  transition: all 0.3s ease;
  
}

/* Dynamics */
.logo .dynamics-img {
  width: 10px;
  opacity: 0; /* oculto */
  transition: all 0.3s ease;
  
}

/* Hover sobre el logo */
.logo:hover .jm-img {
  transform: scale(0.5) translateY(-30px)translateX(-20px); /* se hace más pequeña y sube */
  transition: all 0.3s ease;
}

.logo:hover .dynamics-img {
  opacity: 1; /* Dynamics aparece */
  transform: scale(14) translateY(-1.7px)translateX(-0.4px); /* Dynamics sube a su posición */
}



/* lista principal */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}



/* enlace del item */
.nav-menu a {
  position: relative; /* ✅ referencia para el ::after */
  display: inline-block; 
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: clamp(16px, 1vw, 22px);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: all 0.3s ease; 
}

/* la línea */
.nav-menu a::after {
  
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* distancia respecto al texto */
  width: 0%;
  height: 1px;
  background-color: #9b32ff; /* color de la línea */
  transition: width 0.3s ease; /* animación fluida */
}

.nav-menu a:hover {
  color: #ffffff6c;
}

/* Cuando está en hover o abierto */
.nav-menu li.active a::after {
  width: 85%; /* la línea se dibuja (acaba antes si quieres más corto) */
}

.arrow-icon {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease;
}

li.active .arrow-icon {
  transform: rotate(180deg);
}

/* submenú (flotante debajo del nav) */
.submenu {
  position: absolute;
  top:100%;
  left: 0;               /* opcional, asegura que llegue al borde derecho */
  width: 100vw;       /* ocupa todo el ancho del nav */
  background-color: #2c2c2c;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  z-index: 9999;
  padding: 2rem 5rem;
  overflow: hidden; /* crucial para animar altura */
  
  justify-self: center;
  justify-content: center;
  
  
}

/* lista de subitems como grid */
.submenu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 10px 0px;                        /* fila x columna */
  margin-top: 15px;
  list-style: none;
  
  padding: 0;
  margin-left: 135px;
  margin-right: 170px;
  margin-bottom: 50px;
  
}

/* subitems */
.submenu li {
  
  
  list-style: none;
  font-weight: 400;
  padding: 5px 0px 0px 0px; /* padding mucho más pequeño */
  text-align: left;   /* centra el texto dentro del item */
}

/* estilo base para el enlace del submenu */
.submenu li a {
  position: relative;
  display: inline-block;     /* importante: que el ::after se mida respecto al ancho del link */
  padding-bottom: 4px;       /* espacio para la línea */
  font-weight: 400;
  font-size: clamp(15px, 1vw, 18px);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  
}

/* pseudo-elemento (línea oculta) */
.submenu li a::after {
  position: absolute;
  content: "";
  bottom: 2px;       /* distancia de la línea respecto al texto */
  height: 1px;
  background-color: #ffffff; /* color de la línea */
  opacity: 0;
}

/* cuando pasas el ratón */
.submenu li:hover a::after {
  width: 100%;
  opacity: 1; /* aparece completa */
}



.submenu h2 {
  position: relative;
  display: inline-block; /* ⚡ ajusta el ancho al texto */
  margin-left: 130px;
  color: #fff;              /* blanco para destacar */
  font-size: clamp(29px, 1.5vw, 38px);
  font-weight: 500;
  
  transition: all 0.3s ease;
}

/* Línea oculta por defecto */
.submenu h2::after {
  content: "";
  position: absolute;
  left: 0;      /* empieza al inicio del texto */
  bottom: 0px;              /* distancia de la línea respecto al texto */
  width: 0;                 /* empieza oculta */
  height: 2px;
  background-color: #ffffff; 
  transition: width 0.3s ease;
}

/* Cuando pasas el ratón */
.submenu h2:hover::after {
  width: 103%;               /* se despliega hasta ocupar todo el ancho */
}

.submenu .arrow-icon {
  width: 18px;              /* ajusta tamaño */
  height: 18px;
  filter: invert(37%) sepia(84%) saturate(4000%) hue-rotate(260deg);
 
  transition: transform 0.3s ease;
}

/* Estilo base de la flecha */
.submenu h2 .sig-icon {
  width: 20px;
  height: 20px;
  vertical-align: -2px;
  transition: transform 0.3s ease;
}

/* Cuando pasas el cursor por el h2 */
.submenu h2:hover .sig-icon {
  transform: translateX(5px); /* se desplaza un poco a la derecha */
  filter: brightness(0.7);    /* se oscurece ligeramente */
  transition: transform 0.1s ease;
}

.world-icon {
  width: clamp(12px, 1vw, 19px);
  vertical-align: -2px; /* valor negativo lo baja */
}

.language-selector {
  position: relative;   /* 📌 para que el menú se ancle a este div */
  justify-self: center;   /* lo pegas a la derecha */
  align-self: center;  /* lo centra verticalmente en la fila del grid */
  display: flex;       /* para centrar el texto + flecha */
  align-items: center; /* centra verticalmente el contenido interno */
  gap: 0.3rem;         /* espacio entre texto y flecha */
  cursor: pointer;
  transition: all 0.3s ease; 
}

.selected-language {
  color: #fff;
  font-weight: 400;
  font-size: clamp(12px, 1vw, 19px);
  transition: all 0.3s ease;
}

.language-menu {
  position: absolute;       /* ✅ se posiciona relativo al selector */
  top: 100%;                /* ✅ justo debajo */
  left: 50%;                /* ✅ centrado horizontal */
  transform: translateX(-50%);
  background-color: #111;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  min-width: 120px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -10px); /* centrado + animación */
  transition: all 0.3s ease;
  z-index: 9999;
  text-align: center;
}

.language-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.language-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.language-menu li:hover {
  background-color: #333;
}


/* RESPONSIVE */
@media (max-width: 1000px) {
  /* ocultamos el menú */
  .nav-menu {
    display: none;
  }
  .language-selector {
  display: none; 
  }

  /* Hover sobre el logo */
.logo:hover .jm-img {
  transform: scale(0.5) translateY(-30px)translateX(-20px); /* se hace más pequeña y sube */
  transition: all 0.3s ease;
}

.logo:hover .dynamics-img {
  opacity: 1; /* Dynamics aparece */
  transform: scale(14) translateY(-1px)translateX(-0.8px); /* Dynamics sube a su posición */
}

  /* centramos el logo */
.logo {
  margin-top: 10px;
  font-size: clamp(20px, 0.5vw, 20px);
  grid-column: 2;      /* el logo ocupa la columna central */
  justify-self: center;
}
}



.eslogan-container{
  margin-top: 2rem;          /* margen superior respecto al nav */
  text-align: center;        /* centra el texto */
  position: relative;
  top:-50px;
  
}

.eslogan{
  line-height: clamp(1.2, 4vw, 1.8); /* mínimo 1.2, máximo 1.8 */
  justify-self: center;
  padding: 0 2rem;       /* opcional, para que no quede pegado a los bordes */
  color: #fff;           /* color de texto */
  font-size: clamp(80px, 8vw, 150px); /* tamaño responsivo */
}
